<div>
  <.form
    let={f}
    for={@changeset}
    id="<%= schema.singular %>-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  <%= for {label, input, error} <- inputs, input do %>
    <%= label %>
    <%= input %>
    <%= error %>
  <% end %>
    <.button color="success" type="submit" class="flex-shrink" phx_disable_with="Saving...">
      Save
    </.button>
  </.form>
</div>
